/**estilos generales**/
body {
    font-family: Helvetica, sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color:  rgba(40, 38, 38, 0.9);
 
}
.banner {
    background-image: url('../images/bg-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    padding: 0%; 
    height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
    background-color: transparent;
    /* padding: 1em; */
    padding-right: 5%;
    padding-top: 10%;
    color: rgb(248, 250, 252);
}
.card-title {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
  
}
.card-text {
    font-size: 1.7rem;
    
}
.btn-banner {
    border-radius: 25px;
    background-color:  rgba(40, 38, 38, 0.9);
    font-size: 20px;
    font-weight: 700;
    padding: 14px 40px;
    margin-left: 25%;
}

/*Productos*/
.productos {
    font-size: 2rem;
    font-weight: 700;
    color:rgb(248, 250, 252);
}

.texto {
    background-color: black;
    
}
.banner-2 {
    background-color: #bca177;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #D5AC8C;
}
.maicena, .p-maicena, .btn-maicena {
    color: #63421E !important;
    border-color:#63421E !important;
}
p  {
    font-size: 20px;
    color: rgb(248, 250, 252);
    padding-left: 10%;
    padding-right: 10%;
} 
p.destacado {
    color:#D5AC8C;
    font-weight: 700;
}

.btn-productos {
    display: block;
    border: solid 4px;
    border-color: #D5AC8C;
    color: #D5AC8C;
    margin: 0px auto;
    padding: 12px 30px;
    font-weight: 700;
    border-radius: 0%;
}
.btn-productos:hover {
    background-color: transparent;
}
/*Formulario*/
.form-group {
    padding-left: 20%;
    padding-right: 20%;
}
.form {
    background-color: rgb(248, 250, 252);
}
.form p {
    color:#bca177;

}
label {
    color:#bca177;
}
input {
    border:none !important;
    outline: none !important;
}
.form-control {
    background-color:#bca177;
    border-radius: 0%;
}
.form-control:active,
.form-control:focus {
    background-color: rgba(40, 38, 38, 0.9);  
}
/*Recetas*/
.title-receta {
    font-size: 30px;
    color: #63421E;
}
.body-card {
    background-color: #bca177;
}
.texto-card {
    font-size: 16px;
}
.card {
    padding: 2%;
    border-radius: 0;
    background-color:  rgba(40, 38, 38, 0.9);
    border: none;
}
.card-group {
    padding: 0;
}
/*Footer*/
.bg-footer {
    background-color: black;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title {
    padding-top: 2rem; 
    padding-bottom: 1rem;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #D5AC8C;
}
ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer-list li a {
    color: antiquewhite;
    padding-left: 2rem;
    text-decoration: none;  

    
}

.redes li a {
    padding-left: 0;
    font-size: 36px;
    font-weight: 700;
     
}
.footer-list li a:hover,
.redes li a:hover{
    color: #bca177;
}
.p-footer {
    font-size: 16px;
    font-weight: 700;
}
/*media queries*/
@media (min-width: 480px) and (max-width:940px) {
    .card-container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-top:20%;
            
    }
    .card-body{
        background-color:  rgba(40, 38, 38, 0.9);
    }
    .btn-productos {
        padding: 14px 60px;
    }
}
@media (min-width: 941px) and (max-width:1300px) {
    #bg-main {
        height: 100%;
    }
    .text-container {
        margin: 2rem;
    }

}
@media (min-width: 1301px) {
    #welcome-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}